/* Gallery Page */
.wp-block-post-template .wp-block-post-featured-image.galleryImg {
  width: 100%;
  aspect-ratio: 4/3;
  overflow: hidden;
  display: block;
}

.wp-block-post-template .wp-block-post-featured-image.galleryImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 5/3;
}

/* Location Page */
.pageTitle.pageStyle.nsStyle h1.uagb-heading-text {
  font-size: clamp(2rem, 6vw, 15rem) !important;
}
