/* General */
body {
  min-height: 100vh;
}

main {
  flex: 1;
}

/* [data-sticky],
.is-sticky,
.uag-sticky {
  position: static !important;
} */
/* Gallery Page */
.wp-block-post-template .wp-block-post-featured-image.galleryImg {
  width: 100%;
  aspect-ratio: 4/3;
  overflow: hidden;
  display: block;
}

.wp-block-post-template .wp-block-post-featured-image.galleryImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 5/3;
}

/* Location Page */
.pageTitle h1.uagb-heading-text {
  font-size: clamp(5rem, 6vw, 15rem) !important;
}

/* Images top center */
.topImg {
  aspect-ratio: 1 / 1;   
  overflow: hidden;
}

img {
  object-fit: cover;
  object-position: top center;
  display: block;
}

/* Sidebar sticky on desktop */
html, body, .uagb-block-e80133ca {
  overflow: visible;
}

@media (min-width: 48rem) {
  .sidebar {
    position: sticky;
    top: 2rem;
    align-self: flex-start;
    height: fit-content;
  }
}
