/* Default dark mode */
:root {
  --text: #f8f4f1;
  --background: #000000;
  --primary: #5f64fd;
  --primaryOpacity50: rgba(87, 106, 243, 0.65);
  --secondary: #7491fa;
  --accent: #060045;
  --mutedaccent: #303030;
}

/* Light mode */
[data-theme="light"] {
  --text: #0e0a07;
  --background: #f4f4f4;
  --primary: #d32114;
  --primaryOpacity50: rgba(211, 33, 20, 0.65);
  --secondary: #ffbd71;
  --accent: #680700;
  --mutedaccent: #cbcbcb;
}

/* Theme Toggle Button */
.toggleBtn svg {
  stroke: var(--text);
  width: 1.25rem;
  height: 1.25rem;
}

.toggleBtn {
  position: fixed;
  bottom: 2rem;
  right: 0;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  background-color: var(--primaryOpacity50);
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
  transition: all 0.3s ease;
  animation: bounce 4s infinite;
}

.toggleBtn:hover {
  box-shadow: 0 0 10px var(--accent);
  background-color: var(--primaryOpacity50);
}

@media(min-width: 60em) {
    .toggleBtn {
        top: 13rem;
    }
}



