/* Default dark mode */
:root {
  --text: #f8f4f1;
  --background: #000000;
  --primary: #6e48c7;
  --secondary: #747afa;
  --accent: #290045;
  --mutedaccent: #303030;
}

/* Light mode */
[data-theme="light"] {
  --text: #0e0a07;
  --background: #eeeeee;
  --primary: #d32114;
  --secondary: #ffbd71;
  --accent: #680700;
  --mutedaccent: #cbcbcb;
}

/* Theme Toggle Button */
.toggleBtn svg {
  stroke: var(--text);
  width: 1.25rem;
  height: 1.25rem;
}

.toggleBtn {
  position: fixed;
  bottom: 10rem;
  right: 1rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 2px solid var(--text);
  background-color: transparent;
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
  transition: all 0.3s ease;
  animation: bounce 4s infinite;
}

.toggleBtn:hover {
  box-shadow: 0 0 10px var(--accent);
  background-color: rgba(255, 255, 255, 0.05);
}

@media(min-width: 60em) {
    .toggleBtn {
        top: 13rem;
    }
}

/* General Settings */
body,
.wp-site-blocks,
.editor-styles-wrapper,
.entry-content,
.wp-block-post-content {
  background-color: var(--background);
  color: var(--text);
}

a {
  color: var(--text);
}

body a,
.entry-content a,
.wp-block-post-content a {
  color: var(--primary);
}

.sidebar.uagb-is-root-container {
  border: 0.3px solid var(--mutedaccent);
} 

/* Header */
.nsHeader {
  background-color: var(--background);
}

.nsHeader .wp-block-uagb-separator__inner {
  border-color: var(--mutedaccent);
}

.wp-block-navigation .wp-block-navigation-item .wp-block-navigation__submenu-container {
  background-color: var(--background);
}

.wp-block-navigation .wp-block-navigation-item .wp-block-navigation__submenu-container a {
  color: var(--text);
}

/* Footer */
.nsFooter {
  background-color: var(--background);
}

.nsFooter.uagb-is-root-container .wp-block-uagb-separator__inner {
  border-color: var(--mutedaccent);
}

.is-style-logos-only {
  color: var(--text);
}

/* Forms */
div.wpforms-container-full .wpforms-field-label, .wp-core-ui div.wpforms-container-full .wpforms-field-label {
  color: var(--text);
}

div.wpforms-container-full .wpforms-field-sublabel, .wp-core-ui div.wpforms-container-full .wpforms-field-sublabel {
  color: var(--text);
}

